#admin-stats {
	a {
		display: block;
		padding: 10px 20px;
		margin-bottom: 10px;
		border: 2px solid #000;
		background: #fff;
		color: #000;
		text-decoration: none;
		transition: all 0.3s;

		&:hover,
		&:focus {
			background: #ddd;
		}
	}
}
