@import '../variables.scss';

#tickets {
	.info {
		margin-bottom: 16px;

		ul {
			padding: 0 10px 0 25px;
			margin-bottom: 0;

			li {
				margin-bottom: 4px;
			}
		}
	}

	.payment-disabled {
		text-align: center;
		border: 2px solid $primary-color;
		border-radius: 4px;
		padding: 16px;
		color: $primary-color;

		i {
			margin-right: 4px;
		}
	}
}
