@import '../../variables.scss';

.radio {
	.radio-label {
		padding-bottom: 2px;
		color: $primary-color;
		user-select: none;
	}

	.radio-container {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
		margin-left: 6px;

		label {
			display: flex;
			margin-top: 5px;
		}
	}

	&.row {
		.radio-container {
			flex-direction: row;
		}

		label {
			margin-right: 10px;
		}
	}

	input {
		&[type='radio'] {
			display: none;
		}

		+ .radio-value {
			display: inline-block;
			position: relative;
			background: #cbcbcb;
			border: 2px solid transparent;
			border-radius: 50%;
			height: 1em;
			width: 1em;
			margin-right: 5px;
			flex-shrink: 0;
		}

		&:checked {
			+ .radio-value {
				border-color: $primary-color;
				background: #e4e4e4;
			}

			+ .radio-value::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 50%;
				border-radius: 50%;
				background: $gradient;
			}
		}
	}

	.radio-description {
		font-size: 0.9em;
		color: #777;
		margin-left: 23px;
	}
}
